@charset "utf-8";
html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, blockquote,
pre, form, fieldset, table, th, td { margin: 0; padding: 0; }
html{height:100%;overflow-x:hidden;}
body{line-height:18px;font-size:12px;font-family:",Arial";color:#666666;}
li{ list-style-type:none}
/*top*/ 
.main_top{background:#FFF;width:950px;height:60px; margin:0 auto}
.main_top .logo{float:left;clear:both;}
.top_right{width:300px;height:20px;margin:0 10px;float:right; text-align:right; padding-top:30px}

.nav_tab{}

/*banner*/
.head{background:url(../images/top_bg.gif) repeat-x;height:34px;position:relative;
z-index:99;clear:both;padding:4px 0 0 180px;}
.head ul.heada li{padding:0 5px 0px 0px;}
.head ul.heada li a{padding:6px 5px 0px 10px; font-size:12px}
.head ul{margin:0;padding:0;list-style:none;}
.head li{float:left;margin:0;white-space:nowrap;height:28px;padding:0 10px 0px 0px;}
.head li a{display:block;padding:6px 10px 0px 20px;}
.head .num-2{display:block;}  
.head .num-2 a:link,.head .num-2 a:active,.head .num-2 a:visited{color:#FFF;text-decoration:none;} 
.head .num-2 a:hover{color:#FFF;text-decoration:underline;}
.head a:link,.head a:visited,.head a:hover{font-weight:bold;text-decoration:none;font-size:14px;color:#000;}   

.head01{background:url(../images/top_bg1.gif) repeat-x;position:relative;top:-4px;clear:both;height:36px;padding:3px 0 0 180px;}	  
.head01 ul{margin:0;padding:0;list-style:none; display:none}
.head01 li{float:left;margin:0;white-space:nowrap;} 
.head01 li a{display:block;padding:2px 0 0 10px;}
.head01	.num-3{height:30px;margin:0;padding:0 10px 0 0;}
.head01	.num-3 a:link,.head01 .num-3 a:active,.head01 .num-3 a:visited{color:#335b88;text-decoration:none;}
.head01	.num-3 a:hover{color:#335b88;text-decoration:underline;}	 
.head01 a:link,.head01 a:visited,{color:#FFF;text-decoration:none;}
.head01 a:hover{color:#FFF;text-decoration:underline;} 

/*main*/
.main{width:950px;margin:0 auto;}
.main_top1{width:100%;margin:0 auto 15px auto;height:85px;float:left;clear:both;}	
.main_top1 #sidebar{line-height: 200%;border-bottom:#F30 1px solid}	
.main_top1 .table01 {line-height:200%;clear:both;width:100%;border-collapse: collapse;border:1px solid #FFCE84;}
.border_02 td, .border_02 th{padding:3px 5px}																				 
.main_middle{width:100%;float:left;clear:both;}
.main_left{width:45%;margin-right:10%;float:left;margin:0 16px; 0 0;}  
.main_left .table02{clear:both;width:100%;border-collapse:collapse;border:0px}

.main_right{width:49%;float:left;}	
.main_right .table03{line-height:200%;clear:both;width:100%;border-collapse:collapse;border:0px;}

/*foot*/
.foot{width:100%;clear:both;text-align:center;background:#FFF url(../images/foot_bg.gif) repeat-x;padding:10px 0;}
.foot a:link,.foot a:visited,.foot a:active{text-decoration:none;}
.foot a:hover{text-decoration:underline;}

/*pic*/
.num-2,.num-3,.num-4{background:url(../images/bg.gif) no-repeat;}  
.num-2{background-position:100% -50px;}
.num-2 a{background:url(../images/bg.gif) no-repeat 0 -50px;padding:6px 10px 0px 20px;}
.num-3{background-position:100% 0px;}
.num-3 a{display:block;background:url(../images/bg.gif) no-repeat 0  0;padding:2px 0 0 10px;}
.num-4{background-position:0 -94px;} 	
/*font*/
.orange{font-weight:bold;color:#f89925;font-size:13px;}
.orange a:link,.orange a:visited,.orange a:active{font-weight:bold;color:#f89925;font-size:13px;text-decoration:none;}
.orange a:hover{text-decoration:underline;}
.red{color:#f72800;font-size:13px;}
a.red:link,a.red:visited,a.red:active{color:#f72800;font-size:13px;text-decoration:none;}
a.red:hover{text-decoration:underline;}
.red_12{color:#335B88;font-size:12px;}
a.red_12:link,a.red_12:visited,a.red_12:active{color:#335B88;font-size:12px;text-decoration:none;}
a.red_12:hover{text-decoration:underline;} 
.white{color:#FFF;font-size:13px;}
a.white:link,a.white:visited,a.white:active{color:#FFF;font-size:13px;text-decoration:none;}
a.white:hover{text-decoration:underline;}
.f66{color:#666;font-size:12px;}
a.f66:link,a.f66:visited,a.f66:active{color:#666;font-size:12px;text-decoration:none;}
a.f66:hover{text-decoration:underline;}
.f13{font-size:13px;}
.b{font-weight:bold;}



/*-------------------------------------------------------*/



/*body*/
.body_01{height:100%;overflow-x:hidden;overflow-y:auto!important;margin:0;}
.body_02{margin:0 auto 0 auto;padding-top:0;padding-left:0;width:970px;}
.body_03{overflow:hidden;margin:0;height:100%;}


/*path*/
.path{ padding-left:10px; border-bottom:solid 1px #CC0000; margin-top:10px;}


/*search*/
.search_01 { border:solid 1px #FFCE84; background:#ffffcc; margin-top:10px; padding:5px}


/*border*/
.border_01 { width:800px; margin:0 auto 0 auto;}
.border_02 { margin-top:10px;}
.border_02 em{ font-style:normal; color:#d30000; font-size:14px; font-weight:bold; margin:0 10px}



/*table*/
.tr_01 { background:#ECEBF0; font-weight:bold; text-align:center;}
.tr_02 { background:#ffffff; text-align:center;}
.tr_03 { background:#f0f9f9; text-align:center;}

