<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_1577253809446">
    <display-name>NijiadehuaController</display-name>
	<!-- 请注意加载顺序 -->
    <context-param>
       <param-name>contextConfigLocation</param-name>
       <param-value>classpath*:config/spring/applicationContext*.xml</param-value>
    </context-param>
	<context-param>
		<param-name>log4jConfigLocation</param-name>
		 <param-value>classpath:config/log4j.properties</param-value> 
	</context-param>
    <!-- 加载lo4j监听 -->
	<listener>
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>

	<!-- 首先加载spring监听，不然was、tomcat下启动延迟加载报错 -->
	 <listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	 
	
	<listener>
      <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
    </listener>
	
    <listener>
		<listener-class>com.nijiadehua.api.base.system.listener.DefaultListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>wooboo</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:config/spring/applicationContext.xml</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
		<async-supported>true</async-supported>
	</servlet>
	<servlet-mapping>
		<servlet-name>wooboo</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	<!-- 优先加载，很重要 -->
	<absolute-ordering />
	<!-- WEB层编码过滤 -->
	<filter>
		<filter-name>Set Character Encoding</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter
		</filter-class>
		<async-supported>true</async-supported>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
		<init-param>
			<param-name>enable</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>Set Character Encoding</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<welcome-file-list>
	    <welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
