/*代理 首页*/
/* .agent-index .account-item-info{ display: -webkit-box; }
.agent-index .account-item-info .item{ -webkit-box-flex: 1; }
.agent-index .account-item-info .main-color{ font-size: 18px; height:25px; } */
.agent-index .account-global .account-item-tit{ border-bottom: 0; }
.agent-index .account-global .account-item-info{ margin-top: 0; }
.agent-index .account-item-info p{ margin-top: 3px; }

/*财务管理*/
.account-global.part-item3 .account-item{ width: 33.33%; }
.account-global .account-item-cont{ margin: 15px 0 0 10px; }
.agent-finance .finance-iten-cont{ margin: 10px 0; }
.agent-finance .finance-item{ margin-left: 50px; padding: 10px 0; line-height: 30px; }
.agent-finance .finance-item-lft{ display: inline-block; width: 100px; }
.agent-finance .finance-float{ float: left; width: 42%; }
.agent-finance .ads-body{ margin: 20px 10px; }







